.venv
__pycache__
.mypy_cache
*.pyc
.coverage
coverage.xml
.direnv

# Build artifacts
*.egg-info
build
deb_dist
dist
nginx-static-analysis*.tar.gz
nginx-static-analysis*.pkg.tar*
nginx-static-analysis
pkg
